body {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    
}
  
  h1{
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
  }


primary-color: #6a994e
secondary-color: #bc4749
accent1-color: #a7c957
accent2-color: #f2e8cf

https://coolors.co/palette/-6a994e-a7c957-f2e8cf-bc4749


  